﻿<!DOCTYPE html>
<html lang="en">
<head>  
    <!-- Bootstrap Core CSS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Admin/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/Admin/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Admin")">Admin Paneli</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <!-- mesaj kutusu bolumu-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="@Url.Action("Index","Admin")">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>AYŞE</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="@Url.Action("Index","Admin")">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="@Url.Action("Index","Admin")">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Admin")">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Index","Admin")">Tümünü Gör</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>@Session["Ad"]<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i>Profil</a>
                        </li>
                        <li>
                            <a href="@Url.Action("HesapAyari","Admin")"><i class="fa fa-fw fa-gear"></i>Ayarlar</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOut","Login")"><i class="fa fa-fw fa-power-off"></i>Çıkış Yap</a>
                        </li>
                    </ul>
                </li>
                <!--mesaj-bıldırım-kullanıcı bolumu-sag-ust-kose-bitisi-->
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" style="left:0px;">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="@Url.Action("Index","Admin")"><i class="fa fa-fw fa-dashboard"></i>Admin</a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#kategori"><i class="fa fa-fw fa-arrows-v"></i>Kategori Yönetimi<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="kategori" class="collapse">
                            <li><a href="@Url.Action("Index", "Kategori")">Kategori Listele</a></li>
                            <li>
                                <a href="@Url.Action("Create","Kategori")">Kategori Ekle</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#urun"><i class="fa fa-fw fa-arrows-v"></i>Ürün Yönetimi<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="urun" class="collapse">
                            <li>
                                <a href="@Url.Action("Index","Urun")">Ürünler</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Urun")">Ürün Ekle</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#hesap"><i class="fa fa-fw fa-arrows-v"></i>Sayfa Yönetimi<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="hesap" class="collapse">
                            <li>
                                <a href="@Url.Action("Index","Admin")">Hakkımızda</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Admin")">İletişim</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            @RenderBody() <!-- Page Heading -->
        </div>
        <!-- /.container-fluid -->
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->

    <script src="~/Content/Admin/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Content/Admin/js/plugins/morris/raphael.min.js"></script>
    <script src="~/Content/Admin/js/plugins/morris/morris.min.js"></script>
    <script src="~/Content/Admin/js/plugins/morris/morris-data.js"></script>

</body>
</html>

