﻿@model SosyalKitaplik.Models.uyeler

@{
    ViewBag.Title = "Giris";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/Anasayfa/css/shop-homepage.css" rel="stylesheet" />


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    </nav>

    <table align="center" style=" margin: 100px 150px 100px 80px;">
        <tr>
            <td>@Html.LabelFor(model => model.Uye_Adi) </td>
            <td>@Html.TextBoxFor(model => model.Uye_Adi, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.sifre)</td>
            <td>@Html.PasswordFor(model => model.sifre, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>                            
            <td>
                <a href="/uyeler/KayıtOl">Kayıt Ol</a>
            </td>
            <td></td>
        </tr>
    </table>
}

